{{ define "main" }}

<main>
	<div class="info__post">
		{{ .Content }}
		<ul>
				<li>
					<h2>
						<a href="mailto:{{.Params.contact_info.email}}">Email: {{ .Params.contact_info.email }}</a>
					</h2>
				</li>
				<li>
					<h2>
						<a href="https://twitter.com/{{.Params.contact_info.twitter_handle}}">
							Twitter: @{{.Params.contact_info.twitter_handle}}
						</a>
					</h2>
				</li>
				<li>
					<h2>
						<a href="https://github.com/{{.Params.contact_info.github_handle }}">Github: {{.Params.contact_info.github_handle }}</a>
					</h2>
				</li>
			</ul>
	</div>
</main>

{{ end }}
