<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
    {{ partial "head.html" . }}
    {{ $aboutTitle := "About" }}
    {{if (eq .Title $aboutTitle) }}
        {{ $bg := .Site.Params.primary_color}}
        <body style="background-color: {{ $bg }}; color: #fff;">
            {{ partial "header.html" . }}
            {{ block "main" . }}{{ end }}
        </body>
    {{ else }}
        <body >
            {{ partial "header.html" . }}
            {{ block "main" . }}{{ end }}
        </body>
    {{ end }}
</html>
