@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

* {
  @include box-sizing;
  line-height: 1.5;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans","Helvetica Neue", Helvetica, sans-serif;
  overflow-x: hidden;
  color: $default-color;
}

body {
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Work Sans","Helvetica Neue", Helvetica, sans-serif;
}

h1, h2 {
  font-weight: 500;
}

h1 {
  font-size: 2rem;
  letter-spacing: -1px;
  line-height: 1.1875;
}

h2 {
  font-size: 1.7rem;
  letter-spacing: -.75px;
  line-height: 1.2;
}

h3 {
  font-size: 1.2rem;
  letter-spacing: -.5px;
  line-height: 1.1875;
  color: #A0A0A0;
  font-weight: normal;
}

p {
  font-size: 1.2rem;
  letter-spacing: -.5px;
  line-height: 1.5;
  color: #464646;
}

@media (min-width: 1280px) {

  h1 {
    font-size: 2rem;
    letter-spacing: -1px;
    line-height: 1.1875;
  }
  
  h2 {
    font-size: 1.5rem;
    letter-spacing: -.75px;
    line-height: 1.1667;
  }
  
  h3 {
    font-size: 1rem;
    letter-spacing: -.5px;
    line-height: 1.1875;
    color: #A0A0A0;
    font-weight: normal;
  }

  p {
    font-size: 1rem;
    line-height: 1.4375;
  }
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   color: $default-color;
//   font-weight: 500;
//   font-size: 1.5rem;
//   line-height: 1.3;
// }

// p {
//   font-size: 1.075rem;
// }

a {
  text-decoration: none;
  color: inherit;
  opacity: 1;
  transition: opacity .2s ease;
}

a:hover {
  opacity: .5;
  transition: opacity .2s ease;
  text-decoration-color: inherit;
}

ul {
  list-style: none;
  margin: 0;
}

// blockquote {
//   // border-left: .25rem solid $grey-2;
//   // color: $grey-1;
//   // margin: .8rem 0;
//   // padding: .5rem 1rem;

//   // p:last-child {
//   //   margin-bottom: 0;
//   // }

//   // @media (min-width: 600px) {
//   //   padding: 0 5rem 0 1.25rem;
//   // }
// }

// img {
//   display: block;
//   margin: 0 0 1rem;
//   max-width: 100%;
// }

// td {
//   vertical-align: top;
// }
