.catalogue {
  .post-hero {
    margin-bottom: 0;
    width: 100%;
    height: 33vh;
    overflow: hidden;
    background-color: #000;
    img {
      margin-bottom: 0;
      object-fit: cover;
      min-width: 100%;
      height: 100%;
      object-position: 50% 50%;
      opacity: 1;
      transition: opacity .3s ease;
    }
  }
  &-item {
    display: block;
    min-height: 38vh;
  }
  &-info {
    border-bottom: 1px solid $white-2;
    padding: 1.5rem 1.25rem;
  }
  &-time {
    display: block;
    margin-bottom: 1rem;
  }
  &-title {
    margin-bottom: .5rem ;
  }
  &-summary {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .catalogue {
    .post-hero {
      height: auto;
      width: 100%;
    }
    .catalogue-item {
      display: flex;
      height: 33.3333vh;
      overflow: hidden;
      min-height: 0;
    }
    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-width: 70%;
      padding: 3rem;
      h2, h3, p {
        -webkit-transform: translateX(0px);
        transform: translateX(0px) ;
        -webkit-transition: transform .5s ease-out;
        transition: transform .5s ease-out;
      }
    }
    a:hover {
      opacity: 1;
      .post-hero {
        img {
          opacity: .8;
          -webkit-transition: opacity .3s ease;
          transition: opacity .3s ease;
        }
      }
      .catalogue-info {
        h2, h3, p {
          -webkit-transform: translateX(10px);
          transform: translateX(10px) ;
          -webkit-transition: transform .5s ease-out;
          transition: transform .5s ease-out;
        }
      }
    }
  }
}
