.catalogue {
  &-item {
    border-bottom: 2px solid $default-color;
    display: block;
    padding: 1.5rem;
    
  }
  &-time {
    font-size: 1.5rem;
    font-weight: 500;
    display: block;
    margin-bottom: 1rem;
  }
  &-title {
    margin-bottom: 1rem;
  }
  &-summary {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .catalogue {
    width: 65vw;
    margin-left: 35vw;
  }
}