.container {
  margin: 0 auto;
  max-width: 900px;
  width: 80%;
}

.nav {
  border-bottom: 2px solid #000;
  padding: 1.5rem;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-title {
    margin: 0;
  }


  li {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .nav {
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding: 2rem;
    width: 35vw;
    border-right: 2px solid #000;
    border-bottom: none;
    flex-direction: column;
    align-items: flex-start;
    &-container {
      height: 100%;
      flex-direction: column;
      align-items: flex-start
    }
  }
}

